/* Styles that are not in this document: */

/* TestHabitCards.js */
/* The colors of the squares that represent the days (green, light green, black, white) */

/* ErrorElement.js */
/* The whole Error Element component */

/* Main.js */
/* Variables that depend on the theme */
/* This is where the following are set: */
/* --text-color */
/* --bg-color */
/* --card-color */
/* main body color */

/* Colors that are unaffected by the theme change: */
/* The --dark-green var which is the main accent color */
/* The gray of the class "sub-text" */
/* The colors of the close button of modals */

/* YearCalendar.js */
/* --jan-1-day */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* --dark-green: #559561; */
  --dark-green: #145820;
  --white: #f2f2f2;
  --light-gray: rgb(215, 215, 215);
  --gray: #272727;
  --darkest-gray: #0d1117;

  --light-theme-text: var(--darkest-gray);
  --dark-theme-text: var(--white);
  --light-theme-bg: var(--white);
  --dark-theme-bg: var(--gray);
  --light-theme-card: var(--light-gray);
  --dark-theme-card: var(--darkest-gray);

  --dark-theme-circle: rgb(58, 58, 58);
  --light-theme-circle: var(--white);
}

body {
  margin: 0;
}

#Main {
  /* --text-color: var(--dark-theme-text);
  --bg-color: var(--dark-theme-bg);
  --card-color: var(--dark-theme-card); */
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Test Habit Cards Component */

.test-habit-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.test-habit-card {
  padding: 40px 20px 40px 20px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  gap: 30px;
  font-size: 0.8rem;
}

/* Ghost Divs */

.bottom-ghost-div {
  height: 90px;
}

.top-ghost-div {
  height: 20px;
}

/* Month Calendar Component */

.month-calendar-container {
  /* margin: 30px 0px 30px 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-calendar-top {
  width: 215px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.month-calendar-arrow {
  cursor: pointer;
  background-color: var(--card-color);
  color: var(--text-color);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month-calendar-arrow-icon {
  height: 20px;
  width: auto;
}

.month-calendar-label {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.month-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.month-calendar-day-label {
  font-size: 0.7rem;
  margin-bottom: 5px;
  text-align: center;
}

.month-calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 0.7rem;
}

.month-calendar-day:nth-child(8) {
  grid-column-start: var(--start-of-month-day);
}

/* Year Calendar Component */

.year-calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-calendar-top {
  width: 215px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.year-calendar-arrow {
  cursor: pointer;
  background-color: var(--card-color);
  color: var(--text-color);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-calendar-arrow-icon {
  height: 20px;
  width: auto;
}

.year-calendar-label {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.year-calendar-grid {
  /* margin: 30px 0px 30px 0px; */
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 215px;
  /* padding: 15px; */
}

/* Keep gap of .year-calendar the same */
.year-calendar-months {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 3px;
  border-radius: 15px;
  box-sizing: border-box;
  /* overflow-x: scroll; */
}

/* Keep height and padding of .year-calendar-day the same */
.year-calendar-month {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 15px;
  box-sizing: border-box;
}

/* Keep gap of .year-calendar-months the same */
.year-calendar {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
  gap: 3px;
  width: 260px;
  overflow-x: scroll;
  scrollbar-width: none;
  /* padding: 0px 20px 0px 20px; */
  box-sizing: border-box;
}

/* Keep height and padding of .year-calendar-month the same */
.year-calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2px; */
  height: 15px;
  width: 15px;
  border-radius: 5px;
  font-size: 0.4rem;
  box-sizing: border-box;
}

.year-calendar-day:nth-child(1) {
  grid-row-start: var(--jan-1-day);
}

/* NavBar */

.navbar {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  background-color: var(--bg-color);
  /* border-radius: 20px; */
  /* margin: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  overflow-x: scroll;
  scrollbar-width: none;
}

nav {
  display: flex;
  gap: 9px;
}

.footer-nav {
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.chosen-nav {
  background-color: var(--dark-green);
}

.footer-nav-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: auto;
}

@media (min-width: 770px) {
  nav {
    gap: 30px;
  }
}

/* Add Habit Route */

#AddHabit {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-habit-card {
  padding: 40px;
  background-color: var(--card-color);
  border-radius: 10px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

#add-habit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 50px;
}

button {
  padding: 10px 20px;
  background-color: var(--dark-green);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;

  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white);
}

input[type="text"],
textarea {
  /* all: unset; */
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
}

label,
input[type="text"],
textarea {
  font-size: 0.9rem;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: none;
  accent-color: var(--dark-green);
  cursor: pointer;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item-radios {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item-radio {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-item-radio > label {
  cursor: pointer;
}

.sub-text {
  margin-top: 5px;
  font-size: 0.8rem;
  color: gray;
}

/* Add Habit Modal */

#AddHabitModal {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-green);
  opacity: 90%;
  width: 200px;
  padding: 20px;
  padding-top: 10px;
  /* margin: 10% auto; */
  margin-top: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.494);
  border: none;
}

.modal-text {
  margin-top: 30px;
}

/* The Close Button for Add Habit Modal */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Settings Route */

#Settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#settings-card {
  margin: 20px;
  padding: 40px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  border-radius: 10px;
  width: 300px;
}

#settings-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

/* Confirmation Modal */

#ConfirmationModal {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.447);
}

.confirmation-box {
  margin: 25% auto;
  padding: 30px;
  width: 300px;
  background-color: var(--bg-color);
  border-radius: 15px;
}

.confirmation-text {
  margin-top: 60px;
}

.side-by-side-buttons {
  margin-top: 50px;
  display: flex;
  justify-content: right;
  gap: 30px;
}

.no-button {
  background-color: rgb(92, 40, 40);
}

/* Calendar Route */

#Calendar {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.calendar-card {
  padding: 40px;
  background-color: var(--card-color);
  border-radius: 10px;
  width: 350px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.calendar-card-title {
  font-size: 0.9rem;
  font-weight: bold;
}

@media (min-width: 770px) {
  #Calendar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Cards Route */
/* includes: */
/* All Habits Route */
/* Home Route */
/* StableHabits Route */

.cards-route {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 30px;
}

@media (min-width: 770px) {
  .cards-route {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Week Calendar Component */

.week-calendar-container {
  /* margin: 30px 0px 30px 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week-calendar-label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.week-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 5px;
  column-gap: 20px;
}

.week-calendar-day-label {
  font-size: 0.7rem;
  /* margin-bottom: 2px; */
  text-align: center;
}

.week-calendar-day-number {
  font-size: 0.5rem;
  margin-bottom: 5px;
  text-align: center;
}

.week-calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  font-size: 0.7rem;
}

.week-calendar-day-icon {
  height: 15px;
  width: auto;
}

.week-calendar-day-circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--circle-color);
}

/* Habit Card Component */

.habit-card {
  padding: 25px;
  padding-bottom: 10px;
  background-color: var(--card-color);
  border-radius: 15px;
  /* height: 210px;
  width: 370px; */
  height: 190px;
  width: 350px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: clip;

  /* border-bottom: gray 1px solid;
  border-right: gray 1px solid; */
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.124);
}

.habit-card-title {
  font-size: 0.9rem;
  font-weight: bold;
}

.dark-habit-card {
  background: url(../images/card-assets/card-bg-curvy.png);
  background-size: cover;
}

.light-habit-card {
  background: url(../images/card-assets/card-bg-curvy-light.png);
  background-size: cover;
}

.card-star {
  position: absolute;
  top: 22px;
  right: 15px;
  height: 25px;
  width: auto;
}

.card-color-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 240px;
  width: 6px;
}

.card-bottom {
  padding: 5px;
  /* background-color: #fff; */
}

.card-options {
  height: 50px;
  width: 50px;
  /* background-color: gray; */
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  right: 5px;

  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.card-options-circle {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--white);
}
