:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(236, 236, 236);
}
html {
  background-color: rgb(39, 39, 39);
}

.habit-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.habit-card {
  padding: 20px;
  background-color: #0D1117;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  font-size: 12px;
}

.year-calendar {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 3px;
}

.year-calendar-month {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 3px;
}

.year-calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  font-size: 10px;
}